{% extends "blog/base.html" %}
{% load blog_template_tags %}
{% load social_share %}
{% block title %}{{ post.title }}{% endblock %}

{% block content %}
  <!-- first heading  -->
  <h1>{{ post.title }}</h1>
  <p class="date">
    Published {{ post.publish }} by {{ post.author }}
  </p>
  <p class="tags">
      Tags:
      {% for tag in post_tags %}
        <a href="{% url "blog:post_list_by_tag" tag.slug %}">
          {{ tag.name }}
        </a>
        {% if not forloop.last %}, {% endif %}
      {% endfor %}
  </p>
  <!-- post content -->
  {{ post.body|markdown }}

  <!-- share button -->
  <p>
    <!-- FB -->
    <button class="facebook-button">
      {% post_to_facebook post.get_absolute_url "Share to Facebook" %}
    </button>
    <!-- email -->
    <button>
      <a href="{% url "blog:post_share" post.id %}">
        Share via my email
      </a>
    </button>
    <button>
    {% send_email post.title "Have a look at " post.get_absolute_url "Share via your email" "button"%}
    </button>
  </p>

  <!-- -->
  <h2>Similar posts</h2>
  {% for post in similar_posts %}
    <p>
      <a href="{{ post.get_absolute_url }}">{{ post.title }} - {{ post.publish|date:"d M Y" }}</a>
    </p>
  {% empty %}
    There are no similar posts yet.
  {% endfor %}
  <!-- -->
  {% with comments.count as total_comments %}
    <h2>
      {{ total_comments }} comment{{ total_comments|pluralize }}
    </h2>
  {% endwith %}
  {% for comment in comments %}
    <div class="comment">
      <p class="info">
        Comment by {{ comment.name }}
        {{ comment.created }}
      </p>
      {{ comment.body|linebreaks }}
    </div>
  {% empty %}
    <p>There are no comments.</p>
  {% endfor %}
  {% include "blog/post/includes/comment_form.html" %}

{% endblock %}

