{% extends "blog/base.html" %}
{% load blog_template_tags %}
{% load bootstrap5 %}

{% block title %}Annie's House{% endblock %}

{% block content %}
  {% if tag %}
  <h2 style="font-weight:normal;">Tất cả bài viết có {{ tag.name }}:</h2>
  {% else %}
  <h2 style="font-weight:normal;">Danh sách tất cả bài viết:</h2>
  {% endif %}
  <div id="post-list">
    {% for post in posts %}
      <section>
        <!-- post title + link -->
        <h2><a href="{{ post.get_absolute_url }}">
          {{ post.title }}</a></h2>
        <!-- publish date -->
        <p class="date">
          Đăng ngày  {{ post.publish }}  -  bởi {{ post.author }}
        </p>
        <!-- truncate content -->
        <p class="truncate-paragraph">
          {{ post.body|safe|truncatewords_html:30 }}
        </p>
        <!-- tags -->
        <div class="tags">
          {% for tag in post.tags.all %}
          <a  href="{% url "blog:post_list_by_tag" tag.slug %}"> {{ tag.name }}
          </a>
          {% endfor %}
        </div>
      </section>
   {% endfor %}
  </div>
  {% include "pagination.html" with page=posts %}
{% endblock %}